<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda virtual</title>
</head>
<body>
    <h1> {% block etiq%}  Listado de Productos {% endblock etiq%} </h1>
    {% block cuerpo%}
        <table border=2>
            <thead>
                <trow>
                    <th>ID Producto </th>
                    <th>ID Tienda </th>
                    <th>Nombre Producto</th>
                    <th>Stock actual </th>
                    <th>Stock minimo </th>
                    <th>Valor Unitario </th>
                    <th>Categoría</th>
                    <th>Opciones de modificación</th>
                </trow>
            </thead>
            <tbody>
                {% for prod in misProductos%}
                    <tr>
                        <td>  {{prod.idProducto }} </td>
                        <td>  {{prod.idTienda }} </td>
                        <td>  {{prod.nombreProducto }} </td>
                        <td>  {{prod.stockActual }} </td>
                        <td>  {{prod.stockMinimo }} </td>
                        <td>  {{prod.valorUnitario }} </td>
                        <td>  {{prod.categoria }}</td>
                        <td>
                            <table border=1>
                                <th><a href= "{% url 'editar' prod.idProducto%}"> Editar </a></th>
                                <th><a href= "{% url 'eliminar' prod.idProducto%}"> Eliminar </a></th>
                            </table>
                        </td>
                    </tr>

                {% endfor%}
            </tbody>
        </table>
        {% endblock cuerpo%}
</body>
</html>